<div>
  <h1 class="text-center text-white">Welcome</h1>
  <p >
You can't leave a comment until you Sign in</p>
</div>
  <ul class="nav navbar-nav ">
    <li  ><%= link_to 'Sign in with Facebook', '/auth/facebook' %></li>
    <li ><%= link_to 'Sign in with VKontakte', '/auth/vkontakte' %></li>
  </ul>
