<div>
  <br>
<%= render 'sorting'%>
</div>
<br>
<div id='paginator1' >

<%= paginate @photos , :theme => 'twitter-bootstrap-4',
                   :pagination_class => " pagination justify-content-end ", remote:true%>
</div>





<div class = "photos row" id='photos'>

     <%= render @photos %>

</div>
<div id='paginator' >

<%= paginate @photos , :theme => 'twitter-bootstrap-4',
                   :pagination_class => " pagination justify-content-end ", remote:true%>
</div>
