<style>
  body {
   background:#1d1d1d;
  }
 </style>

</div>
<br>




     <scope class = "gal" id='gal'><%= render '/photos/gal' %></scope>


<br>
       <div id='paginator' >

       <%= paginate @photos , :theme => 'twitter-bootstrap-4',
                          :pagination_class => " pagination pagination  text-white justify-content-center ",remote: true%>
       </div>
