<% @photos.each do |photo| %>
  <div class="jumbotron">


        <table>
	<tr> <td> Title: <%= photo.photo_name %><br></td> </tr>
<tr><td><%= image_tag photo.photography.url %><br></td> </tr>
        </table>





<% end %>-
