/*
 *= require select2-bootstrap
 *= require_self
 *= require_tree.
*/

@import "bootstrap";


.searcpanel
{

background-color: white;
}

.navbar-custom {
    background-color: #4c75a3;
}

.nav {

  img {
    max-width: 48px;
 border-radius: 24px;

  }
}
.post
{
background-color:white;
 
}
.comment
{
img {
    max-width: 48px;
 border-radius: 24px;

  }
hyphens: auto;
 background-color:white;
border-bottom: 1px solid lightgray;

}

.allcom
{

background-color:white;
border: 1px solid gray;

}

.btn-custom
{
margin: 0px;
padding: 0px;
border: 0px;
background-color: #4c75a3;
text-decoration: none;
font-size: 200%;
color:black;

}
.btn-custom:hover
{
border: 0px;
background-color: #45688E;
text-decoration: none;
font-size: 200%;
color:white;
}




.navbar-brand
{
font-size: 200%;

}

container {
	.jimbotron {
	  display: inline !important;
	  position: relative !important;
	 background:#ffffff; 
	}
}



.single_portfolio_text{
	display:inline-block;
	padding:0;
	margin-left:10px;
	position:relative;
	overflow:hidden;
}
.single_portfolio_text img{
	width:100%;	
        border-radius: 10px;
}

.single_portfolio_text:hover .portfolio_images_overlay{
	top:5%;
	left: 5%;
}

.portfolio_images_overlay{
	width: 90%;
	height: 90%;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	margin: 0 auto;
	top: -100%;
	left: 5%;
	position: absolute;
	transition:.6s;
	
}
.portfolio_images_overlay h6{
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
	border: 2px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.portfolio_images_overlay .product_price{
	font-size: 35px;
	color: #fff;
	font-weight:800;
	line-height:30px;
}
.portfolio_images_overlay .product_price i{
    margin-right: -10px;
}
