// Place all the styles related to the main-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
.promo
{
background-color: #4F4F4F;
}

.btnsoc
{
background-color:3E70E5;
}

.img1
{
width:200px;
height: auto;
}
